      <div class="row">
        <div class="col-sm-3">
          <div class="sidebar-block">
            <form action="<%=format_url_with_language('/reserva/producto')%>" >
              <% if booking_item_family and booking_item_family.pickup_return_place %>
              <div class="col-sm-12 no-padding">
                <div class="select1_wrapper">
                  <label><%=t.front_end_reservation.pickup_place%></label>
                  <div class="select1_inner">
                    <select name="pickup_place" id="pickup_place" class="select select2">
                    </select>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-sm-12 no-padding margin-top">
                <div class="select1_wrapper">
                  <label><%=t.front_end_reservation.return_place%></label>
                  <div class="select1_inner">
                    <select name="return_place" id="return_place" class="select select2">
                    </select>
                  </div>
                </div>
              </div>
              <% end %>

              <!-- Date from -->
              <div class="clearfix"></div>
              <div class="col-sm-12 no-padding margin-top">
                <div class="input1_wrapper">
                  <label><%=t.front_end_reservation.date_from%></label>
                  <div class="input1_inner">
                    <input type="text" class="input datepicker" id="date_from" name="date_from" placeholder="dd/mm/yyyy">
                  </div>
                </div>
              </div>
              <% if booking_item_family and booking_item_family.time_to_from %>
                <div class="clearfix"></div>
                <div class="col-sm-12 no-padding margin-top">
                  <div class="select1_wrapper">
                    <label><%=t.front_end_reservation.time_from%></label>
                    <div class="select1_inner">
                      <select name="time_from" id="time_from" class="select select2">
                      </select>
                    </div>
                  </div>
                </div>
              <% elsif booking_item_family and !booking_item_family.time_to_from %>
                <input type="hidden" name="time_from" value="<%=booking_item_family.time_start%>"/>
              <% end %>

              <!-- Date to -->
              <div class="clearfix"></div>
              <div class="col-sm-12 no-padding margin-top">
                <div class="input1_wrapper">
                  <label><%=t.front_end_reservation.date_to%></label>
                  <div class="input1_inner">
                    <input type="text" class="input datepicker" id="date_to" name="date_to" placeholder="dd/mm/yyyy">
                  </div>
                </div>
              </div>
              <% if booking_item_family and booking_item_family.time_to_from %>
                <div class="clearfix"></div>
                <div class="col-sm-12 no-padding margin-top">
                  <div class="select1_wrapper">
                    <label><%=t.front_end_reservation.time_to%></label>
                    <div class="select1_inner">
                      <select name="time_to" id="time_to" class="select select2">
                      </select>
                    </div>
                  </div>
                </div>
              <% elsif booking_item_family and !booking_item_family.time_to_from %>
                <input type="hidden" name="time_to" value="<%=booking_item_family.time_end%>"/>
              <% end %>

              <div class="clearfix"></div>
              <label class="col-md-4" style="padding-left:0;padding-top:12px;"></label>
              <div class="no-padding margin-top col-md-8 text-right" style="margin-top:30px;">
                <button class="btn btn-default btn-cf-submit text-center" style="width:100%;"><%=t.front_end_reservation.update%></button>
              </div>
              <div class="clearfix"></div>

            </form>

          </div>
        </div>
        <div class="col-sm-9">

          <div id="product_listing" class="row">
          </div>

          <div class="hl1"></div>

          <% if booking_item_family and booking_item_family.multiple_items? %>
          <div class="pager_wrapper">
            <ul class="pager clearfix">
              <li class="next"><a href="<%=format_url_with_language("/reserva/completar")%>"><%=t.front_end_reservation.next%></a></li>
            </ul>
          </div>
          <% end %>

        </div>
      </div>

      <!-- Script product -->

      <script type="text/tpml" id="script_detailed_product">

            <div class="col-sm-4">
              <div class="thumb6">
                <div class="thumbnail clearfix">
                  <figure>
                    <img src="<%%=product.full_photo%>" alt="" style="object-fit: cover; width: 100%max-height: 100%;">
                    <div class="over">
                      <div class="v1"><%%=product.name%></div>
                      <div class="v2"><%%=product.short_description%></div>
                    </div>
                  </figure>
                  <div class="caption">
                    <div class="txt1"><%%=product.name%></div>
                    <div class="txt3 clearfix">
                      <% if booking_item_family and booking_item_family.frontend == :shopcart %>
                        <%% if (product.availability) { %>
                          <br>
                          <div class="select1_wrapper">
                            <label><%=t.front_end_reservation.choose_product.choose_quantity%></label>
                            <div class="select1_inner">
                              <select class="select2 select select-choose-product input pull-right" data-value="<%%=product.code%>">
                                 <%% for (var idx=0;idx<=(product.stock-product.busy);idx++) { %>
                                   <option value="<%%=idx%>"
                                    <%% if (productsInShoppingCart[product.code] && productsInShoppingCart[product.code] == idx) { %>
                                    selected="selected"
                                    <%%}%>><%%=idx%> (<%%=new Number(product.price * idx).toFixed(2)%> €)</option>
                                    <%% } %>
                               </select>
                            </div>
                          </div>
                        <%% } else { %>
                        <div class="right_side"><%=t.front_end_reservation.not_available%></div>
                        <%% } %>
                      <% else %>
                        <div class="left_side">
                          <div class="price"><%%=new Number(product.price).toFixed(2)%></div>
                          <!--div class="nums">per/Day</div-->
                        </div>
                        <%% if (product.availability) { %>
                        <div class="right_side">
                           <a href="#" class="btn-default btn1 btn-choose-product" data-product="<%%=product.code%>"><%=t.front_end_reservation.select%></a></div>
                        <%% } else { %>
                        <div class="right_side"><%=t.front_end_reservation.not_available%></div>
                        <%% } %>
                      <% end %>
                     </div>
                  </div>
                </div>
              </div>
            </div>


      </script>
