<!DOCTYPE html>
<html lang="<%=session[:locale] || 'es'%>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title><%=page.title%></title>
  <meta name="description" content="<%=page.description%>">
  <meta name="keywords" content="<%=page.keywords%>">
  <meta name="summary" content="<%=page.summary%>">
  <% if page.canonical_url %>
  <link rel="canonical" href="<%=page.canonical_url%>">
  <% end %>

  <!-- Open Graph -->
  <meta property="og:title" content="<%=page.title%>">
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%=page.description%>">
  <% if page.canonical_url %>
  <meta property="og:url" content="<%=page.canonical_url%>">
  <% end %>
  <meta property="og:locale" content="<%=session[:locale] || 'es'%>">

  <!-- JS -->
  <script src="/tagency/js/require.min.js"></script>
  <script src="/tagency/js/built.js"></script>

  <link href="/tagency/css/bootstrap.css" rel="stylesheet">
  <link href="/tagency/css/font-awesome.css" rel="stylesheet">
  <link href="/tagency/css/animate.css" rel="stylesheet">
  <link href="/tagency/css/select2.css" rel="stylesheet">
  <link href="/tagency/css/smoothness/jquery-ui-1.10.0.custom.css" rel="stylesheet">
  <link href="/tagency/css/style.css" rel="stylesheet">
  <link href="/tagency/css/custom.css" rel="stylesheet">

  <% if !page.styles_source.nil? && !page.styles_source.empty? %>
    <%= page.styles_source %>
  <% end %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  {% if slider1_img_bg and slider1_img_bg != blank %}
  <style type="text/css">
    #slider_wrapper {
      background: url('{{ slider1_img_bg }}');
      background-size: cover;
    }
  </style>
  {% endif %}

</head>
<body class="front">

<div id="main">

  <!-- Modal -->
  <div class="modal fade" id="bs_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel" style="display: inline">Basic Modal</h4>
        </div>
        <div class="modal-body">
          <h3>Modal Body</h3>
        </div>
      </div>
    </div>
  </div>


  <!-- Top : Support / Phone number | language | social media -->
  <div class="top1_wrapper">
    <div class="container">
      <div class="top1 clearfix">
        <div class="email1"><a href="mailto:{{site_company_email}}">{{site_company_email}}</a></div>
        <div class="phone1">{{site_company_phone_number}}</div>
        <div class="social_wrapper">
          <ul class="social clearfix">
            {% if site_company_facebook and site_company_facebook and site_company_facebook != '.' %}
            <li>
              <a href="{{site_company_facebook}}"><i class="fa fa-facebook"></i></a>
            </li>
            {% endif %}
            {% if site_company_twitter and site_company_twitter and site_company_twitter != '.' %}
            <li>
              <a href="{{site_company_twitter}}"><i class="fa fa-twitter"></i></a>
            </li>
            {% endif %}
            {% if site_company_instagram and site_company_instagram and site_company_instagram != '.' %}
            <li>
              <a href="{{site_company_instagram}}"><i class="fa fa-instagram"></i></a>
            </li>
            {% endif %}
            {% if site_company_linkedin and site_company_linkedin and site_company_linkedin != '.' %}
            <li>
              <a href="{{site_company_linkedin}}"><i class="fa fa-linkedin"></i></a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="lang1">
          <div class="dropdown">
            <% if (page.variables.has_key?(:languages_translation) and not page.variables[:languages_translation].empty?) %>
                <div class="text-center translation_language">
                    <%= page.variables[:languages_translation]%>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Logo and menu -->
  <div class="top2_wrapper">
    <div class="container">
      <div class="top2 clearfix">
        <header>
          <div class="logo_wrapper">
            <a href="<%=format_url_with_language('/')%>" class="logo"><img src="<%=site_logo%>" alt="<%=site_title%>" class="img-responsive"/></a>
          </div>
        </header>
        <div class="navbar navbar_ navbar-default">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-collapse navbar-collapse_ collapse">
            {{ primary_links_menu }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Slide -->
  {% if home %}
  <div id="slider_wrapper">
    <div class="container">
      <div id="slider_inner">
        <div class="">
          <div id="slider">

            <div class="">
              <div class="carousel-box">
                <div class="inner">
                  <div class="carousel main">
                    <ul>
                      {% if slider1_text_1 and slider1_text_1 != blank %}
                      <li>
                        <div class="slider">
                          <div class="slider_inner">
                            <div class="txt1"><span>{{slider1_text_1}}</span></div>
                            <div class="txt2"><span>{{slider1_text_2}}</span></div>
                            <div class="txt3"><span>{{slider1_text_3}}</span></div>
                          </div>
                        </div>
                      </li>
                      {% endif %}
                      {% if slider2_text_1 and !slider2_text_1 != blank %}
                      <li>
                        <div class="slider">
                          <div class="slider_inner">
                            <div class="txt1"><span>{{slider2_text_1}}</span></div>
                            <div class="txt2"><span>{{slider2_text_2}}</span></div>
                            <div class="txt3"><span>{{slider2_text_3}}</span>
                            </div>
                          </div>
                        </div>
                      </li>
                      {% endif %}
                      {% if slider3_text_1 and !slider3_text_1 != blank %}
                      <li>
                        <div class="slider">
                          <div class="slider_inner">
                            <div class="txt1"><span>{{slider3_text_1}}</span></div>
                            <div class="txt2"><span>{{slider3_text_2}}</span></div>
                            <div class="txt3"><span>{{slider3_text_3}}</span>
                            </div>
                          </div>
                        </div>
                      </li>
                      {% endif %}
                      {% if slider4_text_1 and !slider4_text_1 != blank %}
                      <li>
                        <div class="slider">
                          <div class="slider_inner">
                            <div class="txt1"><span>{{slider4_text_1}}</span></div>
                            <div class="txt2"><span>{{slider4_text_2}}</span></div>
                            <div class="txt3"><span>{{slider4_text_3}}</span>
                            </div>

                          </div>
                        </div>
                      </li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="slider_pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Search -->
  <div id="front_tabs">
    <div class="container">
      <div class="tabs_wrapper tabs1_wrapper">
        <div class="tabs tabs1">
          <div class="tabs_tabs tabs1_tabs">

            <ul>
              <li class="buscar">
                <a href="#tabs-3">
                  <%=t.front_end_reservation.search_title%>
                </a>
              </li>
            </ul>

          </div>
          <div class="tabs_content tabs1_content">
            <div id="tabs-3">
              <% if (page.variables.has_key?(:booking_selector) and not page.variables[:booking_selector].empty?) %>
                <%= page.variables[:booking_selector] %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <!-- Content -->
  <div id="why1">
    <div class="container">

      <%= partial :flash_messages %>
      <%= page.content %>

    </div>
  </div>

  <!-- Footer -->
  <div class="bot1_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="bot1_title">{{site_company_name}}</div>
          <p>{{site_company_document_id}}</p>
          <p>{{site_company_address_1}}</p>
          {% if site_company_address_2 and site_company_address_2 != '.' and site_company_address_2 != blank %}
          <p>{{site_company_address_2}}</p>
          {% endif %}
          <p>{{site_company_phone_number}}</p>
          <p>{{site_company_email}}</p>
        </div>
        <div class="col-sm-4">
          <div class="bot1_title"><%=t.front_end.more_info%></div>
          {{ secondary_links_menu }}

          <div class="social2_wrapper">
            <ul class="social2 clearfix">
              {% if site_company_facebook and site_company_facebook and site_company_facebook != '.' %}
              <li class="nav1"><a href="{{site_company_facebook}}" target="_blank"></a></li>
              {% endif %}
              {% if site_company_linkedin and site_company_linkedin and site_company_linkedin != '.' %}
              <li class="nav3"><a href="{{{{site_company_linkedin}}}}" target="_blank"></a></li>
              {% endif %}
              {% if site_company_twitter and site_company_twitter and site_company_twitter != '.' %}
              <li class="nav5"><a href="{{site_company_twitter}}" target="_blank"></a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <div class="bot1_title"><%=t.front_end.contact%></div>
          <div class="phone2">{{site_company_phone_number}}</div>
          <div class="support1"><a href="mailto:{{site_company_email}}">{{site_company_email}}</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="bot2_wrapper">
    <div class="container">
      <div class="left_side">
        Copyright © {{year}} <strong>{{site_company_name}}</strong>
      </div>
      <div class="right_side"><%= t.frontend_web.powered_by_mybooking %></div>
    </div>
  </div>

</div>

<script src="/tagency/js/script.js"></script>

<% if !page.scripts_source.nil? && !page.scripts_source.empty? %>
  <%= page.scripts_source %>
<% end %>

</body>
</html>