<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <!-- Product(s) -->
      <h2 style="font-size: 1.8em; color: #1cbbb4"><%=@booking.customer_name%> <%=@booking.customer_surname%>, <strong><%=t.front_end_reservation.booking_detail_title("#{t[:front_end_reservation][:booking_detail_state][@booking.status.to_sym]}").to_s.downcase%></strong></h2>

      <% @booking.booking_lines.each do |booking_item| %>
        <% product = ::Yito::Model::Booking::BookingCategory.get(booking_item.item_id) %>
        <div class="blog_content">
          <div class="post post-full">
            <h3 class="text-center hch2" style="font-size: 1.4em">
              <%=booking_item.quantity%> x <%=booking_item.item_description_customer_translation%>
            </h3>
            <div class="clearfix"></div>
            <div class="post-header">
              <img class="img-responsive" src="<%= product.photo_url_full %>" alt="" style="margin: 0 auto; display: block"/>
              <div class="price text-right">
                <% if booking_item.item_unit_cost != booking_item.item_unit_cost_base%>
                  <span style="text-decoration:line-through; text-color: black"><%= "%.2f" % (booking_item.item_unit_cost_base * booking_item.quantity)%>€</span>
                <%end%>
                <strong><%='%.2f' % booking_item.item_cost%></strong>€
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="clearfix"></div>

      <!-- Complete information -->
      <div class="col-md-7 booking-row">

        <!-- Customer information (Not editable) -->
        <h3 class="line"><%=t.front_end_reservation.booking_detail_customer_title%></h3>

        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.booking_detail_customer_name%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%=@booking.customer_name%> <%=@booking.customer_surname%></span>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.booking_detail_customer_email%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%=@booking.customer_email%></span>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.booking_detail_customer_phone_number%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%=@booking.customer_phone%> <%=@booking.customer_mobile_phone%></span>
          </div>
        </div>
        <div class="clearfix"></div>

        <!-- Customer extra information (Editable) -->

        <% if @booking_item_family.driver or @booking_item_family.named_resources or @booking_item_family.height or
            @booking_item_family.weight %>
          <div class="margin-top"></div>
          <br>
          <div class="alert alert-warning">
            <p><%=t.front_end_reservation.summary_page.fill_data_message%></p>
          </div>
          <form name="booking_information_form" id="booking_information_form" name="order_form" class="form-delivery" method="post">

            <% if @booking_item_family.driver %>
              <h3 class="line"><%=t.front_end_reservation.summary_page.customer_address%></h3>
              <div class="input2_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_street%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="customer_address[street]" id="street" title="<%=t.front_end_reservation.field_driver_address_street%>" data-toggle="tooltip"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_address_street%>:" maxlength="60"
                         spellcheck="false" autocomplete="off"
                         <% if @booking.driver_address %>value="<%=@booking.driver_address.street%>"<%end%>>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input2_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_number%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="customer_address[number]" id="number" title="<%=t.front_end_reservation.field_driver_address_number%>" data-toggle="tooltip"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_address_number%>:"  maxlength="10"
                         spellcheck="false" autocomplete="off"
                         <% if @booking.driver_address %>value="<%=@booking.driver_address.number%>"<%end%>>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input2_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_complement%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="customer_address[complement]" id="complement" title="<%=t.front_end_reservation.field_driver_address_complement%>" data-toggle="tooltip"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_address_complement%>:"  maxlength="20"
                         spellcheck="false" autocomplete="off"
                         <% if @booking.driver_address %>value="<%=@booking.driver_address.complement%>"<%end%>>

                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input1_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_city%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="customer_address[city]" id="city" title="<%=t.front_end_reservation.field_driver_address_city%>" data-toggle="tooltip"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_address_city%>:"  maxlength="60"
                         spellcheck="false" autocomplete="off"
                         <% if @booking.driver_address %>value="<%=@booking.driver_address.city%>"<%end%>>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input2_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_state%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="customer_address[state]" id="state" class="form-control alt" type="text"
                         placeholder="<%=t.front_end_reservation.field_driver_address_state%>:" maxlength="60"
                         spellcheck="false" autocomplete="off"
                         <% if @booking.driver_address %>value="<%=@booking.driver_address.state%>"<%end%>>

                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input1_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_country%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="customer_address[country]" id="country" class="form-control alt" type="text"
                         placeholder="<%=t.front_end_reservation.field_driver_address_country%>:"  maxlength="50"
                         spellcheck="false" autocomplete="off"
                         <% if @booking.driver_address %>value="<%=@booking.driver_address.country%>"<%end%>>
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input2_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_zip%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="customer_address[zip]" id="zip" class="form-control alt" type="text"
                         placeholder="<%=t.front_end_reservation.field_driver_address_zip%>:"  maxlength="10"
                         spellcheck="false" autocomplete="off"
                         <% if @booking.driver_address %>value="<%=@booking.driver_address.zip%>"<%end%>>
                </div>
              </div>
              <div class="clearfix"></div>
            <% end %>

            <% if @booking_item_family.driver_license %>
              <h3 class="line"><%=t.front_end_reservation.fieldset_driver%></h3>
              <div class="input2_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_name%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="driver_name" id="driver_name"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_name%>:" maxlength="40"
                         spellcheck="false" autocomplete="off"
                         value="<%=@booking.driver_name%>" >
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input2_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_surname%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="driver_surname" id="driver_surname"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_surname%>:" maxlength="40"
                         spellcheck="false" autocomplete="off"
                         value="<%=@booking.driver_surname%>">
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input2_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_document_id%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="driver_document_id" id="driver_document_id"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_document_id%>:" maxlength="50"
                         spellcheck="false" autocomplete="off"
                         value="<%=@booking.driver_document_id%>">

                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input1_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_date_of_birth%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="driver_date_of_birth" id="driver_date_of_birth"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_date_of_birth%>:" maxlength="10"
                         spellcheck="false" autocomplete="off" >
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input2_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_driving_license_number%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="driver_driving_license_number" id="driver_driving_license_number"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_driving_license_number%>:" maxlength="50"
                         spellcheck="false" autocomplete="off"
                         value="<%=@booking.driver_driving_license_number%>">

                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input1_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_driving_license_date%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="driver_driving_license_date" id="driver_driving_license_date"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_driving_license_date%>:" maxlength="10"
                         spellcheck="false" autocomplete="off" >
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input2_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_driving_license_country%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="driver_driving_license_country" id="driver_driving_license_country"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_driving_license_country%>:" maxlength="80"
                         spellcheck="false" autocomplete="off"
                         value="<%=@booking.driver_driving_license_country%>">
                </div>
              </div>
              <div class="clearfix"></div>
            <% end %>

            <% if @booking_item_family.flight %>
              <h3 class="line"><%=t.front_end_reservation.fieldset_flight%></h3>
              <div class="input2_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_flight_company%></label>
                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="flight_company" id="flight_company"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_flight_company%>:" maxlength="80"
                         spellcheck="false" autocomplete="off"
                         value="<%=@booking.flight_company%>">
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input2_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_flight_number%></label>

                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="flight_number" id="flight_number"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_flight_number%>:" maxlength="10"
                         spellcheck="false" autocomplete="off"
                         value="<%=@booking.flight_number%>">
                </div>
              </div>
              <div class="clearfix"></div>

              <div class="input2_wrapper">
                <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_flight_time%></label>

                <div class="col-md-7" style="padding-right:0;padding-left:0;">
                  <input name="flight_time" id="flight_time"
                         class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_flight_time%>:" maxlength="5"
                         value="<%=@booking.flight_time%>">

                </div>
              </div>
              <div class="clearfix"></div>
            <% end %>

            <% if @booking_item_family.named_resources or @booking_item_family.height or @booking_item_family.weight %>
              <h3 class="line"><%=t.front_end_reservation.summary_page.data_of_the_participants%></h3>
              <% @booking.booking_lines.each do |booking_line| %>
                <h4><%=booking_line.quantity%> <%=booking_line.item_description%></h4>
                <% booking_line.booking_line_resources.each do |booking_line_resource| %>
                  <h5 class="widget-title-sub"><%=t.front_end_reservation.summary_page.participant%></h5>
                  <input type="hidden" name="booking_line_resources[<%=booking_line_resource.id%>][id]" value="<%=booking_line_resource.id%>"/>

                  <% if @booking_item_family.named_resources %>
                    <div class="input2_wrapper">
                      <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_name%></label>
                      <div class="col-md-7" style="padding-right:0;padding-left:0;">
                        <input name="booking_line_resources[<%=booking_line_resource.id%>][resource_user_name]"
                               class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_name%>" maxlength="80"
                               value="<%=booking_line_resource.resource_user_name%>">

                      </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="input2_wrapper">
                      <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_surname%></label>
                      <div class="col-md-7" style="padding-right:0;padding-left:0;">
                        <input name="booking_line_resources[<%=booking_line_resource.id%>][resource_user_surname]"
                               class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_surname%>" maxlength="80"
                               value="<%=booking_line_resource.resource_user_surname%>">

                      </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="input2_wrapper">
                      <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_document_id%></label>
                      <div class="col-md-7" style="padding-right:0;padding-left:0;">
                        <input name="booking_line_resources[<%=booking_line_resource.id%>][resource_user_document_id]"
                               class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_document_id%>" maxlength="50"
                               value="<%=booking_line_resource.resource_user_document_id%>">

                      </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="input2_wrapper">
                      <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_phone_number%></label>
                      <div class="col-md-7" style="padding-right:0;padding-left:0;">
                        <input name="booking_line_resources[<%=booking_line_resource.id%>][resource_user_phone]"
                               class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_phone_number%>" maxlength="15"
                               value="<%=booking_line_resource.resource_user_phone%>">

                      </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="input2_wrapper">
                      <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_email%></label>
                      <div class="col-md-7" style="padding-right:0;padding-left:0;">
                        <input name="booking_line_resources[<%=booking_line_resource.id%>][resource_user_email]"
                               class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_email%>" maxlength="40"
                               value="<%=booking_line_resource.resource_user_email%>">

                      </div>
                    </div>
                    <div class="clearfix"></div>
                  <% end %>

                  <% if @booking_item_family.height %>
                    <div class="input2_wrapper">
                      <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_height%></label>
                      <div class="col-md-7" style="padding-right:0;padding-left:0;">
                        <input name="booking_line_resources[<%=booking_line_resource.id%>][customer_height]"
                               class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_height%>" maxlength="20"
                               value="<%=booking_line_resource.customer_height%>">

                      </div>
                    </div>
                    <div class="clearfix"></div>
                  <% end %>

                  <% if @booking_item_family.height %>
                    <div class="input2_wrapper">
                      <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_weight%></label>
                      <div class="col-md-7" style="padding-right:0;padding-left:0;">
                        <input name="booking_line_resources[<%=booking_line_resource.id%>][customer_weight]"
                               class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_weight%>" maxlength="20"
                               value="<%=booking_line_resource.customer_weight%>">

                      </div>
                    </div>
                    <div class="clearfix"></div>
                  <% end %>

                  <% if booking_line_resource.pax == 2 %>
                    <h5 class="widget-title-sub"><%=t.front_end_reservation.summary_page.participant%></h5>
                    <% if @booking_item_family.named_resources %>
                      <div class="input2_wrapper">
                        <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_name%></label>
                        <div class="col-md-7" style="padding-right:0;padding-left:0;">
                          <input name="booking_line_resources[<%=booking_line_resource.id%>][resource_user_2_name]"
                                 class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_name%>" maxlength="80"
                                 value="<%=booking_line_resource.resource_user_2_name%>">

                        </div>
                      </div>
                      <div class="clearfix"></div>

                      <div class="input2_wrapper">
                        <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_surname%></label>
                        <div class="col-md-7" style="padding-right:0;padding-left:0;">
                          <input name="booking_line_resources[<%=booking_line_resource.id%>][resource_user_2_surname]"
                                 class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_surname%>" maxlength="80"
                                 value="<%=booking_line_resource.resource_user_2_surname%>">

                        </div>
                      </div>
                      <div class="clearfix"></div>

                      <div class="input2_wrapper">
                        <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_document_id%></label>
                        <div class="col-md-7" style="padding-right:0;padding-left:0;">
                          <input name="booking_line_resources[<%=booking_line_resource.id%>][resource_user_2_document_id]"
                                 class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_document_id%>" maxlength="50"
                                 value="<%=booking_line_resource.resource_user_2_document_id%>">

                        </div>
                      </div>
                      <div class="clearfix"></div>

                      <div class="input2_wrapper">
                        <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_phone_number%></label>
                        <div class="col-md-7" style="padding-right:0;padding-left:0;">
                          <input name="booking_line_resources[<%=booking_line_resource.id%>][resource_user_2_phone]"
                                 class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_phone_number%>" maxlength="15"
                                 value="<%=booking_line_resource.resource_user_2_phone%>">

                        </div>
                      </div>
                      <div class="clearfix"></div>

                      <div class="input2_wrapper">
                        <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_email%></label>
                        <div class="col-md-7" style="padding-right:0;padding-left:0;">
                          <input name="booking_line_resources[<%=booking_line_resource.id%>][resource_user_2_email]"
                                 class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_email%>" maxlength="40"
                                 value="<%=booking_line_resource.resource_user_2_email%>">

                        </div>
                      </div>
                      <div class="clearfix"></div>
                    <% end %>

                    <% if @booking_item_family.height %>
                      <div class="input2_wrapper">
                        <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_height%></label>
                        <div class="col-md-7" style="padding-right:0;padding-left:0;">
                          <input name="booking_line_resources[<%=booking_line_resource.id%>][customer_2_height]"
                                 class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_height%>" maxlength="20"
                                 value="<%=booking_line_resource.customer_2_height%>">

                        </div>
                      </div>
                      <div class="clearfix"></div>
                    <% end %>

                    <% if @booking_item_family.height %>
                      <div class="input2_wrapper">
                        <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.summary_page.participant_weight%></label>
                        <div class="col-md-7" style="padding-right:0;padding-left:0;">
                          <input name="booking_line_resources[<%=booking_line_resource.id%>][customer_2_weight]"
                                 class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.summary_page.participant_weight%>" maxlength="20"
                                 value="<%=booking_line_resource.customer_2_weight%>">

                        </div>
                      </div>
                      <div class="clearfix"></div>
                    <% end %>
                  <% end %>

                <% end %>
              <% end %>
            <% end %>

            <div class="margin-top"></div>
            <div class="clearfix"></div>
            <a id="btn_update_reservation" href="#" class="btn btn-default btn-cf-submit3"><%=t.front_end_reservation.summary_page.update_data_button%></a>

          </form>

        <% end%>

      </div>

      <!-- Separator -->
      <div class="col-md-1"></div>

      <!-- Sidebar : Summary -->
      <div class="col-md-4 booking-row">

        <!-- Summary -->
        <h3 class="line"><%=t.front_end_reservation.reservation_summary_title%></h3>

        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.date_from%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%=SystemConfiguration::Settings.instance.format_date(@booking.date_from, :full, session[:locale])%><% if @booking_item_family and @booking_item_family.time_to_from %> <%=@booking.time_from%><%end%></span>
          </div>
        </div>
        <div class="clearfix"></div>

        <% if @booking_item_family and @booking_item_family.pickup_return_place %>
          <div class="input2_wrapper">
            <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.pickup_place%></label>
            <div class="col-md-6" style="padding-right:0;padding-left:0;">
              <span class="blue"><%=@booking.pickup_place_customer_translation%></span>
            </div>
          </div>
          <div class="clearfix"></div>
        <% end %>

        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.date_to%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%=SystemConfiguration::Settings.instance.format_date(@booking.date_to, :full, session[:locale])%><% if @booking_item_family and @booking_item_family.time_to_from %> <%=@booking.time_to%><%end%></span>
          </div>
        </div>
        <div class="clearfix"></div>

        <% if @booking_item_family and @booking_item_family.pickup_return_place %>
          <div class="input2_wrapper">
            <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.return_place%></label>
            <div class="col-md-6" style="padding-right:0;padding-left:0;">
              <span class="blue"><%=@booking.return_place_customer_translation%></span>
            </div>
          </div>
          <div class="clearfix"></div>
        <% end %>

        <!-- Extras -->
        <% if @booking.booking_extras.size > 0 %>
          <div class="margin-top"></div>
          <h3 class="line"><%=t.front_end_reservation.booking_detail_extras_title%></h3>

          <% @booking.booking_extras.each do |booking_extra| %>
            <div class="input2_wrapper">
              <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=booking_extra.extra_description_customer_translation%> x <%=booking_extra.quantity%></label>
              <div class="col-md-6" style="padding-right:0;padding-left:0;">
                <span class="blue"><%= "%.2f" % booking_extra.extra_cost%>€</span>
              </div>
            </div>
            <div class="clearfix"></div>
          <% end %>
        <% end %>

        <!-- Price -->
        <div class="margin-top"></div>
        <h3 class="line"><%=t.front_end_reservation.reservation_summary_price%></h3>

        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_total_product%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%= "%.2f" % @booking.item_cost%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>

        <% if (@booking.extras_cost > 0) %>
        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_total_extras%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%= "%.2f" % @booking.extras_cost%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <% end %>

        <% if (@booking.time_from_cost > 0) %>
        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_pickup_time_supplement%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%= "%.2f" % @booking.time_from_cost%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <% end %>

        <% if (@booking.pickup_place_cost > 0) %>
        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_pickup_place_supplement%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%= "%.2f" % @booking.pickup_place_cost%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <% end %>

        <% if (@booking.time_to_cost > 0) %>
        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_return_time_supplement%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%= "%.2f" % @booking.time_to_cost%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <% end %>

        <% if (@booking.return_place_cost > 0) %>
        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_return_place_supplement%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%= "%.2f" % @booking.return_place_cost%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <% end %>

        <% if total_cost_includes_deposit %>
          <% if @booking.total_deposit > 0 %>
          <div class="input2_wrapper">
            <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_deposit%></label>
            <div class="col-md-6" style="padding-right:0;padding-left:0;">
              <span class="blue"><%= "%.2f" % @booking.total_deposit%>€</span>
            </div>
          </div>
          <div class="clearfix"></div>
          <% end %>
        <% end %>

        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px; text-transform: uppercase;"><%=t.front_end_reservation.reservation_summary_total%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%= "%.2f" % @booking.total_cost%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>

        <% if @booking.total_paid > 0 %>
          <div class="input2_wrapper">
            <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.booking_detail_summary_paid%></label>
            <div class="col-md-6" style="padding-right:0;padding-left:0;">
              <span class="blue"><%= "%.2f" % @booking.total_paid%>€</span>
            </div>
          </div>
          <div class="clearfix"></div>
        <% end %>

        <% if @booking.total_pending > 0 %>
          <div class="input2_wrapper">
            <label class="col-md-6" style="padding-left:0;padding-top:12px; text-transform: uppercase;"><%=t.front_end_reservation.booking_detail_summary_pending%></label>
            <div class="col-md-6" style="padding-right:0;padding-left:0;">
              <span class="red"><%= "%.2f" % @booking.total_pending%>€</span>
            </div>
          </div>
          <div class="clearfix"></div>
        <% end %>

        <% if !total_cost_includes_deposit %>
          <% if @booking.total_deposit > 0 %>
          <div class="input2_wrapper">
            <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_deposit%></label>
            <div class="col-md-6" style="padding-right:0;padding-left:0;">
              <span class="blue"><%= "%.2f" % @booking.total_deposit%>€</span>
            </div>
          </div>
          <div class="clearfix"></div>
          <% end %>
        <% end %>


        <% if @booking.total_deposit > 0 %>
        <div class="input2_wrapper">
          <label class="col-md-12" style="padding-left:0;padding-top:12px;"><small>* <%=t.front_end_reservation.reservation_summary_deposit_detail%></small></label>
        </div>
        <div class="clearfix"></div>
        <% end %>

        <!-- Payment -->
        <% if (@booking.can_pay_deposit? or @booking.can_pay_pending? or @booking.can_pay_total?) and (@payment_methods.tpv_virtual or @payment_methods.paypal)%>
          <div class="margin-top"></div>
          <h3 class="line"><%=t.front_end_reservation.payment_title%></h3>

          <% if @booking.can_pay_deposit? and !@booking.can_pay_total? %>
            <div class="alert alert-success">
              <p><%=t.front_end_reservation.payment_to_confirm_reservation(@deposit, "(%.2f #{@currency})" % @booking.booking_amount)%></p>
            </div>
          <% end %>

          <!-- Payment methods -->
          <div class="panel-group payments-options" id="accordion" role="tablist" aria-multiselectable="true">
            <% if @payment_methods.tpv_virtual %>
              <div id="tpv_virtual_container" class="panel panel-default" <%unless @payment_methods.paypal%>style="display:none"<%end%>>
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="<% unless @payment_methods.paypal%>show<%else%>collapsed<%end%>"
                       data-payment-method="<%=@payment_methods.tpv_virtual.id%>" data-toggle="collapse"
                       data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                      <span class="dot"></span> <%=t.front_end_reservation.credit_card_payment%>
                    </a>
                    <span class="overflowed pull-right">
                    <img src="/rentit/img/preview/payments/mastercard-2.jpg" alt=""/>
                    <img src="/rentit/img/preview/payments/visa-2.jpg" alt=""/>
                      <!--img src="/rentit/img/preview/payments/american-express-2.jpg" alt=""/>
                      <img src="/rentit/img/preview/payments/discovery-2.jpg" alt=""/>
                      <img src="/rentit/img/preview/payments/eheck-2.jpg" alt=""/-->
                  </span>
                  </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3"></div>
              </div>
            <% end %>
            <% if @payment_methods.paypal %>
              <div id="paypal_container" class="panel panel-default" <%unless @payment_methods.tpv_virtual%>style="display:none"<%end%>>
                <div class="panel-heading" role="tab" id="heading4">
                  <h4 class="panel-title">
                    <a class="<% unless @payment_methods.tpv_virtual%>show<%else%>collapsed<%end%>"
                       data-payment-method="paypal_standard" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                      <span class="dot"></span> <%=t.front_end_reservation.paypal_payment%>
                    </a>
                    <span class="overflowed pull-right">
                     <img src="/rentit/img/preview/payments/paypal-2.jpg" alt="">
                  </span>
                  </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4"></div>
              </div>
            <% end %>

            <% if @booking.can_pay_deposit? and @booking.can_pay_total? %>
              <div id="payment_amount_container" <%if @payment_methods.paypal and @payment_methods.tpv_virtual%>style="display:none"<%end%>>
                <br>
                <h4><%=t.front_end_reservation.payment_amount%></h4>
                <br>
                <form id="payment_amount_form" class="form-additional">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="radio" value="deposit" name="payment"/> <label><%=t.front_end_reservation.payment_amount_deposit%> (<%=@deposit%> %)</label>
                      </div>
                      <div class="form-group">
                        <input type="radio" value="total" name="payment">  <label><%=t.front_end_reservation.payment_amount_total%></label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            <% end %>

            <br>
            <a id="btn_pay" href="#" class="btn btn-default btn-cf-submit3"><%=t.front_end_reservation.booking_detail_pay_button%></a>

          </div>

        <% end %>

      </div>

    </div>
  </div>
</div>


