<div class="top-navigation-bar">
  <h2 class="entity-title">Configuración tema</h2>
</div>
<div class="admin_content_wrapper"  style="background-color: #f5f5f5; margin: 0">
  <div id="content">
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="block ">
          <div class="block-header bg-gray-lighter">
            <h3 class="block-title">Logo</h3>
          </div>
          <div class="block-content block-content-narrow">
            <%= render_variable_photo_uploader('site.logo') %>
            <p class="text-center">Tamaño recomendado 400x100</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="block ">
          <div class="block-header bg-gray-lighter">
            <h3 class="block-title">Slideshow portada</h3>
          </div>
          <div class="block-content block-content-narrow">

            <h4>Imagen de fondo</h4>

            <%= render_variable_photo_uploader('frontend.skin.tagency.slider1_img_bg') %>
            <p class="text-center">Tamaño recomendado 1920x1080</p>

            <br>

            <form name="variables" action="/api/variables" method="PUT"
                  data-remote="ajax" data-remote-method="PUT" class="form-horizontal">

              <h4>Texto slide 1</h4>
              <%= render_variable_input_text('frontend.skin.tagency.slider1_text_1',
                                             'Texto línea 1', 80, 40) %>
              <%= render_variable_input_text('frontend.skin.tagency.slider1_text_2',
                                             'Texto línea 2', 80, 40) %>
              <%= render_variable_input_text('frontend.skin.tagency.slider1_text_3',
                                             'Texto línea 3', 80, 40) %>
              <h4>Texto slide 2</h4>
              <%= render_variable_input_text('frontend.skin.tagency.slider2_text_1',
                                             'Texto línea 1', 80, 40) %>
              <%= render_variable_input_text('frontend.skin.tagency.slider2_text_2',
                                             'Texto línea 2', 80, 40) %>
              <%= render_variable_input_text('frontend.skin.tagency.slider2_text_3',
                                             'Texto línea 3', 80, 40) %>
              <h4>Texto slide 3</h4>
              <%= render_variable_input_text('frontend.skin.tagency.slider3_text_1',
                                             'Slide 3 : Texto línea 1', 80, 40) %>
              <%= render_variable_input_text('frontend.skin.tagency.slider3_text_2',
                                             'Slide 3 : Texto línea 2', 80, 40) %>
              <%= render_variable_input_text('frontend.skin.tagency.slider3_text_3',
                                             'Slide 3 : Texto línea 3', 80, 40) %>

              <h4>Texto slide 4</h4>
              <%= render_variable_input_text('frontend.skin.tagency.slider4_text_1',
                                             'Slide 4 : Texto línea 1', 80, 40) %>
              <%= render_variable_input_text('frontend.skin.tagency.slider4_text_2',
                                             'Slide 4 : Texto línea 2', 80, 40) %>
              <%= render_variable_input_text('frontend.skin.tagency.slider4_text_3',
                                             'Slide 4 : Texto línea 3', 80, 40) %>
              <div class="form-group">
                <div class="col-xs-12">
                  <button class="button btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-save push-5-r"></i> <%=t.entitymanagement.update%></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>