      <div class="row">
        <div class="col-sm-3">
          <div class="sidebar-block">
            <form action="<%=format_url_with_language('/reserva/producto')%>" id="change_dates_form" class="change_dates_form" method="POST">

              <% if booking_item_family and booking_item_family.pickup_return_place %>

                <% if ['list','list+custom'].include?(pickup_return_places_configuration) %>
                  <div class="col-sm-12 no-padding">
                    <div class="select1_wrapper">
                      <label><%=t.front_end_reservation.pickup_place%></label>
                      <div class="select1_inner">
                        <select name="pickup_place" id="pickup_place" class="select select2">
                        </select>
                      </div>
                    </div>
                  </div>
                  <% if pickup_return_places_configuration == 'list+custom'%>
                  <div class="col-sm-12 no-padding">
                    <div id="another_pickup_place_group" class="form-group margin-top">
                      <div class="textarea_wrapper">
                        <textarea name="pickup_place_other" id="pickup_place_other" class="textarea_inner" placeholder="<%=t.front_end_reservation.pickup_place_address%>"></textarea>
                        <input type="hidden" name="custom_pickup_place" value="false"/>
                      </div>
                    </div>
                  </div>
                  <% end %>
                <% else %>
                  <div class="col-sm-12 no-padding">
                    <div class="form-group">
                      <label for="pickup_place">
                        <%=t.front_end_reservation.pickup_place%>:
                      </label>
                      <div class="textarea_wrapper">
                        <textarea name="pickup_place_other" id="pickup_place_other" class="textarea_inner" placeholder="<%=t.front_end_reservation.pickup_place_address%>"></textarea>
                        <i class="fa fa-map-marker"></i>
                      </div>
                    </div>
                  </div>
                <% end %>

                <div class="clearfix"></div>

                <% if ['list','list+custom'].include?(pickup_return_places_configuration) %>
                  <div class="col-sm-12 no-padding margin-top">
                    <div class="select1_wrapper">
                      <label><%=t.front_end_reservation.return_place%></label>
                      <div class="select1_inner">
                        <select name="return_place" id="return_place" class="select select2">
                        </select>
                      </div>
                    </div>
                  </div>
                  <% if pickup_return_places_configuration == 'list+custom'%>
                    <div class="col-sm-12 no-padding">
                      <div id="another_return_place_group" class="form-group margin-top">
                        <div class="textarea_wrapper">
                          <textarea name="return_place_other" id="return_place_other" class="textarea_inner" placeholder="<%=t.front_end_reservation.return_place_address%>"></textarea>
                          <input type="hidden" name="custom_return_place" value="false"/>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class="col-sm-12 no-padding">
                    <div class="form-group">
                      <label for="return_place">
                        <%=t.front_end_reservation.return_place%>:
                      </label>
                      <div class="textarea_wrapper">
                        <textarea name="return_place_other" id="return_place_other" class="textarea_inner" placeholder="<%=t.front_end_reservation.return_place_address%>"></textarea>
                        <i class="fa fa-map-marker"></i>
                      </div>
                    </div>
                  </div>
                <% end %>

              <% end %>

              <!-- Date from -->
              <div class="clearfix"></div>
              <div class="col-sm-12 no-padding margin-top">
                <div class="input1_wrapper">
                  <label><%= BookingDataSystem.r18n.t.booking_business_literals.starting_date[booking_item_family.starting_date.to_s]['date_from'] %></label>
                  <div class="input1_inner">
                    <input type="text" class="input datepicker" id="date_from" name="date_from" placeholder="dd/mm/yyyy" autocomplete="off">
                  </div>
                </div>
              </div>
              <% if booking_item_family and booking_item_family.time_to_from %>
                <div class="clearfix"></div>
                <div class="col-sm-12 no-padding margin-top">
                  <div class="select1_wrapper">
                    <label><%= BookingDataSystem.r18n.t.booking_business_literals.starting_date[booking_item_family.starting_date.to_s]['time_from'] %></label>
                    <div class="select1_inner">
                      <select name="time_from" id="time_from" class="select select2">
                      </select>
                    </div>
                  </div>
                </div>
              <% elsif booking_item_family and !booking_item_family.time_to_from %>
                <input type="hidden" name="time_from" value="<%=booking_item_family.time_start%>"/>
              <% end %>

              <!-- Date to -->
              <div class="clearfix"></div>
              <div class="col-sm-12 no-padding margin-top">
                <div class="input1_wrapper">
                  <label><%= BookingDataSystem.r18n.t.booking_business_literals.starting_date[booking_item_family.starting_date.to_s]['date_to'] %></label>
                  <div class="input1_inner">
                    <input type="text" class="input datepicker" id="date_to" name="date_to" placeholder="dd/mm/yyyy" autocomplete="off">
                  </div>
                </div>
              </div>
              <% if booking_item_family and booking_item_family.time_to_from %>
                <div class="clearfix"></div>
                <div class="col-sm-12 no-padding margin-top">
                  <div class="select1_wrapper">
                    <label><%= BookingDataSystem.r18n.t.booking_business_literals.starting_date[booking_item_family.starting_date.to_s]['time_to'] %></label>
                    <div class="select1_inner">
                      <select name="time_to" id="time_to" class="select select2">
                      </select>
                    </div>
                  </div>
                </div>
              <% elsif booking_item_family and !booking_item_family.time_to_from %>
                <input type="hidden" name="time_to" value="<%=booking_item_family.time_end%>"/>
              <% end %>

              <div class="clearfix"></div>
              <label class="col-md-4" style="padding-left:0;padding-top:12px;"></label>
              <div class="no-padding margin-top col-md-8 text-right" style="margin-top:30px;">
                <button class="btn btn-default btn-cf-submit text-center" style="width:100%;"><%=t.front_end_reservation.update%></button>
              </div>
              <div class="clearfix"></div>

            </form>

          </div>
        </div>
        <div class="col-sm-9">

          <div id="product_listing" class="row">
          </div>

          <div class="hl1"></div>

          <% if booking_item_family and booking_item_family.multiple_items? %>
          <div class="pager_wrapper">
            <ul class="pager clearfix">
              <li class="next"><a href="<%=format_url_with_language("/reserva/completar")%>"><%=t.front_end_reservation.next%></a></li>
            </ul>
          </div>
          <% end %>

        </div>
      </div>

      <!-- Script product -->

      <script type="text/tpml" id="script_detailed_product">

            <div class="col-sm-4">
              <div class="thumb6">
                <div class="thumbnail clearfix">
                  <figure>
                    <img src="<%%=product.full_photo%>" alt="" class="product-detail" data-product="<%%=product.code%>" style="object-fit: cover; width: 100%; min-height: 200px; max-height: 100%;">
                    <div class="over product-detail" data-product="<%%=product.code%>">
                      <div class="v1 product-detail" data-product="<%%=product.code%>"><%%=product.name%></div>
                      <div class="v2 product-detail" data-product="<%%=product.code%>"><%%=product.short_description%></div>
                    </div>
                  </figure>
                  <div class="caption">
                    <div class="txt1"><%%=product.name%>&nbsp;<span class="product-detail" data-product="<%%=product.code%>"><i class="fa fa-info-circle"></i></span></div>
                    <div class="txt3 clearfix">
                      <% if booking_item_family and booking_item_family.frontend == :shopcart %>
                        <%% if (shoppingCart.days < product.min_days) { %>
                          <div class="right_side">
                               <span class="not_available_select"><%=t.front_end_reservation.min_days%> <%%= product.min_days%></span>
                          </div>                          
                        <%% } else { %>  
                          <%% if (product.availability) { %>
                            <br>
                            <div class="select1_wrapper">
                              <label><%=t.front_end_reservation.choose_product.choose_quantity%></label>
                              <div class="select1_inner">
                                <select class="select2 select select-choose-product input pull-right" data-value="<%%=product.code%>">
                                   <%% for (var idx=0;idx<=(product.available);idx++) { %>
                                     <option value="<%%=idx%>"
                                      <%% if (productsInShoppingCart[product.code] && productsInShoppingCart[product.code] == idx) { %>
                                      selected="selected"
                                      <%%}%>><%%=idx%> (<%%=new Number(product.price * idx).toFixed(2)%> €)</option>
                                      <%% } %>
                                 </select>
                              </div>
                            </div>
                          <%% } else { %>
                            <div class="right_side">
                               <span class="not_available_select"><%=t.front_end_reservation.not_available%></span>
                            </div>
                          <%% } %>                         
                        <%% } %>  
                      <% else %>
                        <%% if (shoppingCart.days >= product.min_days) { %>
                        <div class="left_side">
                          <div class="price"><%%=new Number(product.price).toFixed(2)%></div>
                        </div>
                        <%% } %>
                        <%% if (shoppingCart.days < product.min_days) { %>                       
                          <div class="right_side">
                             <span class="btn btn-sm btn-danger not_available"><%=t.front_end_reservation.min_days%> <%%= product.min_days%></span>
                          </div>                          
                        <%% } else { %>  
                          <%% if (product.availability) { %>
                          <div class="right_side">
                             <a href="#" class="btn-default btn1 btn-choose-product" data-product="<%%=product.code%>"><%=t.front_end_reservation.select%></a></div>
                          <%% } else { %>
                          <div class="right_side">
                             <span class="not_available"><%=t.front_end_reservation.not_available%></span>
                          </div>
                          <%% } %>
                        <%% } %>
                      <% end %>
                     </div>
                  </div>
                </div>
              </div>
            </div>


      </script>

      <!-- Custom template from product detail modal -->

      <script type="text/tmpl" id="product_detail_script">

        <%% if (product.photos.length > 1) { %>
          <div class="post-slide" style="display:none">
            <div id="sl1">
                <a class="sl1_prev" href="#"></a>
                <a class="sl1_next" href="#"></a>
                <div class="sl1_pagination"></div>
                <div class="carousel-box">
                    <div class="inner">
                        <div class="carousel main">
                            <ul>
                                <%% for (var idx=0;idx<product.photos.length-1;idx++){%>
                                <li>
                                    <div class="sl1">
                                        <div class="sl1_inner">
                                            <img src="<%%=product.photos[idx].full_photo_path%>" alt=""
                                                 class="img-responsive">
                                        </div>
                                    </div>
                                </li>
                                <%% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        <%% } else { %>  
        <img src="<%%=product.full_photo%>" style="display: block; margin: 0 auto; max-width: 100%"/>
        <%% } %>
        <br>
        <%%=product.description%>

      </script>

      <!-- Custom JS Script for product detail modal -->

      <script type="text/javascript" id="product_detail_slider_js">

        function productDetailSlider() {
          var o = $('#sl1 .carousel.main ul');
            if (o.length > 0) {
              o.carouFredSel({
                auto: {
                  timeoutDuration: 3000
                },
                responsive: true,
                prev: '.sl1_prev',
                next: '.sl1_next',
                pagination: '.sl1_pagination',
                width: '100%',
                scroll: {
                  items: 1,
                  duration: 1000,
                  easing: "easeOutExpo"
                },
                items: {
                      width: '2000',
                  height: 'variable', //  optionally resize item-height
                  visible: {
                    min: 1,
                    max: 1
                  }
                },
                mousewheel: false,
                swipe: {
                  onMouse: true,
                  onTouch: true
                  }
              });
            }
        }
      </script>
