<!-- PAGE WITH SIDEBAR -->
<section class="with-sidebar sub-page">
    <div class="row">
      <!-- CONTENT -->
      <div class="col-md-8 content car-listing" id="content">

        <!-- Product -->
        <div id="selected_products">
        </div>

        <hr class="page-divider half transparent"/>

        <!-- Customer -->

        <h3 class="block-title alt"><i class="fa fa-angle-down"></i><%=t.front_end_activities.checkout_page.customer_title%></h3>
        <form id="form-reservation" name="reservation_form" class="form-delivery" method="post">
          <input type="hidden" name="customer_language" value="<%=session[:locale]%>"/>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input name="customer_name" id="customer_name" title="<%=t.front_end_activities.checkout_page.field_customer_name_mandatory%>" data-toggle="tooltip"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_customer_name%>:*">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input name="customer_surname" id="customer_surname" title="<%=t.front_end_activities.checkout_page.field_customer_surname_mandatory%>" data-toggle="tooltip"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_activities.checkout_page.field_customer_surname%>:*">
              </div>
            </div>
            <div class="col-md-6 clearfix">
              <div class="form-group">
                <input name="customer_email" id="customer_email" title="<%=t.front_end_activities.checkout_page.field_customer_email_mandatory%>" data-toggle="tooltip"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_activities.checkout_page.field_customer_email%>:*">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input name="confirm_customer_email" id="confirm_customer_email" title="<%=t.front_end_activities.checkout_page.field_customer_email_mandatory%>" data-toggle="tooltip"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_activities.checkout_page.field_customer_email_confirm%>:*">
              </div>
            </div>
            <div class="col-md-6 clearfix">
              <div class="form-group">
                <input name="customer_phone" class="form-control alt" type="text"
                       placeholder="<%=t.front_end_activities.checkout_page.field_customer_main_phone_number%>:*">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input name="customer_mobile_phone" class="form-control alt" type="text"
                       placeholder="<%=t.front_end_activities.checkout_page.field_customer_alternative_phone_number%>:">
              </div>
            </div>
          </div>
        </form>

        <!-- Additional information -->
        <h3 class="block-title alt"><i class="fa fa-angle-down"></i><%=t.front_end_activities.checkout_page.additional_information_title%></h3>
        <form action="#" class="form-additional">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <textarea name="comments" id="comments"
                          class="form-control alt" placeholder="<%=t.front_end_activities.checkout_page.field_comments%>" cols="30" rows="10"></textarea>
              </div>
            </div>
          </div>
        </form>

        <!-- Payment -->
        <div id="payment_detail">
        </div>

        <!-- Reservation buttons -->

        <div class="overflowed reservation-now">
          <div>
            <div class="checkbox pull-left">
              <input id="accept" type="checkbox" name="accept" title="Please accept" data-toggle="tooltip" value="checked">
              <label for="accept"><%=t.front_end_activities.checkout_page.conditions_read(format_url_with_language("/renting_conditions"))%></label>
            </div>
            <a id="btn_reservation" class="btn btn-theme pull-right btn-reservation-now" href="#"><%=t.front_end_activities.checkout_page.request_reservation%></a>
          </div>
        </div>

        <div id="reservation_error" class="alert alert-danger" style="display:none">
        </div>

      </div>
      <!-- /CONTENT -->

      <!-- SIDEBAR -->
      <aside class="col-md-4 sidebar" id="sidebar">
        <div class="widget shadow widget-details-reservation">
          <div id="reservation_detail">
          </div>
        </div>
      </aside>
      <!-- /SIDEBAR -->

    </div>
</section>
<!-- /PAGE WITH SIDEBAR -->

<script type="text/tpml" id="script_products_detail">

  <h3 class="block-title alt">
    <i class="fa fa-angle-down"></i><%=t.front_end_activities.checkout_page.activities_information_title%>
  </h3>
  <%% for (idx in shopping_cart.shopping_cart_items_group_by_date_time_item_id) { %>
  <%% var firstItem = shopping_cart.shopping_cart_items_group_by_date_time_item_id[idx]['items'][0]; %>
  <div class="car-big-card alt">
    <div class="row">
      <div class="col-md-6">
        <div>
          <div class="item">
            <img class="img-responsive" src="<%%=products[firstItem.item_id].full_photo%>" alt=""/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="car-details">
           <div class="list">
              <ul>
                <li class="title">
                  <h2><%%=products[firstItem.item_id].name%></h2>
                </li>
                <br>
                <span><strong><%%=new Date(firstItem.date.substring(0,10)).toString('dd/MM/yyyy')%></strong></span>
                <hr>
                <%% for (var x=0; x<shopping_cart.shopping_cart_items_group_by_date_time_item_id[idx]['items'].length; x++) { %>
                  <span><%%=shopping_cart.shopping_cart_items_group_by_date_time_item_id[idx]['items'][x].quantity %>
                  <%%=shopping_cart.shopping_cart_items_group_by_date_time_item_id[idx]['items'][x].item_price_description %> x
                  <%%=new Number(shopping_cart.shopping_cart_items_group_by_date_time_item_id[idx]['items'][x].item_unit_cost).toFixed(2) %>€
                  <span class="pull-right"><%%=new Number(shopping_cart.shopping_cart_items_group_by_date_time_item_id[idx]['items'][x].item_cost).toFixed(2) %>€</span></span>
                  <br>
                <%% } %>
              </ul>
           </div>
           <div class="price">
              <strong><%%=new Number(shopping_cart.shopping_cart_items_group_by_date_time_item_id[idx]['total']).toFixed(2)%></strong>€ <i class="fa fa-info-circle"></i>
           </div>
         </div>
       </div>
     </div>
   </div>
   <br>
   <%% } %>

</script>

<!-- Script used to render the reservation summary -->

<script type="text/tmpl" id="script_reservation_summary">
  <h4 class="widget-title"><%=t.front_end_activities.checkout_page.summary_title%></h4>
  <div class="widget-content">
     <h5 class="widget-title-sub"><%=t.front_end_activities.checkout_page.summary_price%></h5>
     <div class="list">
        <ul>
          <li><%=t.front_end_activities.checkout_page.summary_total%>: <span class="pull-right"><%%=new Number(shopping_cart.total_cost).toFixed(2)%>€</span></li>
        </ul>
     </div>
  </div>
</script>

<!-- Script payment -->

<script type="text/tmpl" id="script_payment_detail">
  <h3 class="block-title alt"><i class="fa fa-angle-down"></i><%=t.front_end_activities.checkout_page.payment_title%></h3>
  <div class="panel-group payments-options" id="accordion" role="tablist" aria-multiselectable="true">

    <%% if (shopping_cart.can_pay_deposit) { %>
      <div class="alert alert-success">
        <p><%=t.front_end_activities.checkout_page.payment_group.deposit_title(@deposit)%></p>
      </div>
    <%% } else if (shopping_cart.can_pay_total) { %>
      <div class="alert alert-success">
        <p><%=t.front_end_activities.checkout_page.payment_group.total_title%></p>
      </div>
    <%% } %>

    <%% if (shopping_cart.can_make_request) { %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a data-payment-method="none" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
            <span class="dot"></span><%=t.front_end_activities.checkout_page.request_reservation%>
          </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2"></div>
    </div>
    <%% } %>
    <%% if (shopping_cart.can_pay_deposit || shopping_cart.can_pay_total) { %>
    <% if @payment_methods.tpv_virtual %>
    <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                  <a class="collapsed" data-payment-method="<%=@payment_methods.tpv_virtual.id%>" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                      <span class="dot"></span> <%=t.front_end_activities.checkout_page.credit_card_payment%>
                  </a>
          <span class="overflowed pull-right">
          </span>
              </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3"></div>
    </div>
    <% end %>
    <% if @payment_methods.paypal %>
    <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading4">
              <h4 class="panel-title">
                  <a class="collapsed" data-payment-method="paypal_standard" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                      <span class="dot"></span> <%=t.front_end_activities.checkout_page.paypal_payment%>
                  </a>
                  <span class="overflowed pull-right">
                  </span>
              </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4"></div>
    </div>
    <% end %>
    <%% } %>
  </div>
</script>