<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <!-- Product -->
      <div id="selected_product">
      </div>

      <div class="clearfix"></div>
      <div class="col-md-7 booking-row">

        <form id="form-reservation" name="reservation_form" class="form-delivery" method="post">
          <input type="hidden" name="customer_language" value="<%=session[:locale]%>"/>

          <h3 class="line"><%=t.front_end_reservation.customer_title%></h3>
          <div class="input2_wrapper">
            <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_customer_name%>*</label>
            <div class="col-md-7" style="padding-right:0;padding-left:0;">
              <input name="customer_name" id="customer_name" title="<%=t.front_end_reservation.field_customer_name_mandatory%>" data-toggle="tooltip"
                     class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_customer_name%>:*" spellcheck="false" autocomplete="off">
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="input2_wrapper">
            <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_customer_surname%>*</label>

            <div class="col-md-7" style="padding-right:0;padding-left:0;">
              <input name="customer_surname" id="customer_surname" title="<%=t.front_end_reservation.field_customer_surname_mandatory%>" data-toggle="tooltip"
                     class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_customer_surname%>:*" spellcheck="false" autocomplete="off">
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="input2_wrapper">
            <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_customer_email%>*</label>

            <div class="col-md-7" style="padding-right:0;padding-left:0;">
              <input name="customer_email" id="customer_email" title="<%=t.front_end_reservation.field_customer_email_mandatory%>" data-toggle="tooltip"
                     class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_customer_email%>:*" spellcheck="false" autocomplete="off">

            </div>
          </div>
          <div class="clearfix"></div>

          <div class="input2_wrapper">
            <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_customer_email_confirm%>*</label>

            <div class="col-md-7" style="padding-right:0;padding-left:0;">
              <input name="confirm_customer_email" id="confirm_customer_email" title="<%=t.front_end_reservation.field_customer_email_mandatory%>" data-toggle="tooltip"
                     class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_customer_email_confirm%>:*" spellcheck="false" autocomplete="off">
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="input2_wrapper">
            <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_customer_main_phone_number%>*</label>

            <div class="col-md-7" style="padding-right:0;padding-left:0;">
              <input name="customer_phone" class="form-control alt" type="text"
                     placeholder="<%=t.front_end_reservation.field_customer_main_phone_number%>:*" spellcheck="false" autocomplete="off">

            </div>
          </div>
          <div class="clearfix"></div>

          <div class="input2_wrapper">
            <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_customer_alternative_phone_number%></label>

            <div class="col-md-7" style="padding-right:0;padding-left:0;">
              <input name="customer_mobile_phone" class="form-control alt" type="text"
                     placeholder="<%=t.front_end_reservation.field_customer_alternative_phone_number%>:"  spellcheck="false" autocomplete="off">
            </div>
          </div>
          <div class="clearfix"></div>

          <% if booking_item_family.driver_license %>
          <h3 class="line"><%=t.front_end_reservation.summary_page.customer_address%></h3>
            <div class="input2_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_street%></label>
              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="street" id="street" title="<%=t.front_end_reservation.field_driver_address_street%>" data-toggle="tooltip"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_address_street%>:" maxlength="60" spellcheck="false" autocomplete="off">
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input2_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_number%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="number" id="number" title="<%=t.front_end_reservation.field_driver_address_number%>" data-toggle="tooltip"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_address_number%>:"  maxlength="10" spellcheck="false" autocomplete="off">
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input2_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_complement%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="complement" id="complement" title="<%=t.front_end_reservation.field_driver_address_complement%>" data-toggle="tooltip"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_address_complement%>:"  maxlength="20" spellcheck="false" autocomplete="off">

              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input1_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_city%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="city" id="city" title="<%=t.front_end_reservation.field_driver_address_city%>" data-toggle="tooltip"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_address_city%>:"  maxlength="60" spellcheck="false" autocomplete="off">
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input2_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_state%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="state" id="state" class="form-control alt" type="text"
                       placeholder="<%=t.front_end_reservation.field_driver_address_state%>:" maxlength="60" spellcheck="false" autocomplete="off">

              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input1_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_country%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="country" id="country" class="form-control alt" type="text"
                       placeholder="<%=t.front_end_reservation.field_driver_address_country%>:"  maxlength="50" spellcheck="false" autocomplete="off">
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input2_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_address_zip%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="zip" id="zip" class="form-control alt" type="text"
                       placeholder="<%=t.front_end_reservation.field_driver_address_zip%>:"  maxlength="10" spellcheck="false" autocomplete="off">
              </div>
            </div>
            <div class="clearfix"></div>
          <% end %>

          <% if booking_item_family.driver_license %>
          <h3 class="line"><%=t.front_end_reservation.fieldset_driver%></h3>
            <div class="input2_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_name%></label>
              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="driver_name" id="driver_name"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_name%>:" maxlength="40" spellcheck="false" autocomplete="off" >
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input2_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_surname%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="driver_surname" id="driver_surname"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_surname%>:" maxlength="40" spellcheck="false" autocomplete="off" >
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input2_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_document_id%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="driver_document_id" id="driver_document_id"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_document_id%>:" maxlength="50" spellcheck="false" autocomplete="off" >

              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input1_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_date_of_birth%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="driver_date_of_birth" id="driver_date_of_birth"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_date_of_birth%>:" maxlength="10" spellcheck="false" autocomplete="off" >
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input2_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_driving_license_number%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="driver_driving_license_number" id="driver_driving_license_number"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_driving_license_number%>:" maxlength="50" spellcheck="false" autocomplete="off" >

              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input1_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_driving_license_date%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="driver_driving_license_date" id="driver_driving_license_date"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_driving_license_date%>:" maxlength="10" spellcheck="false" autocomplete="off" >
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input2_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_driver_driving_license_country%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="driver_driving_license_country" id="driver_driving_license_country"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_driver_driving_license_country%>:" maxlength="80" spellcheck="false" autocomplete="off" >
              </div>
            </div>
            <div class="clearfix"></div>
          <% end %>

          <% if booking_item_family.flight %>
          <h3 class="line"><%=t.front_end_reservation.fieldset_flight%></h3>
            <div class="input2_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_flight_company%></label>
              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="flight_company" id="flight_company"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_flight_company%>:" maxlength="80" spellcheck="false" autocomplete="off">
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input2_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_flight_number%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="flight_number" id="flight_number"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_flight_number%>:" maxlength="10" spellcheck="false" autocomplete="off">
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="input2_wrapper">
              <label class="col-md-5" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_flight_time%></label>

              <div class="col-md-7" style="padding-right:0;padding-left:0;">
                <input name="flight_time" id="flight_time"
                       class="form-control alt" type="text" placeholder="<%=t.front_end_reservation.field_flight_time%>:" maxlength="5">

              </div>
            </div>
            <div class="clearfix"></div>
          <% end %>

        </form>

        <div class="clearfix"></div>

        <h3 class="line"><%=t.front_end_reservation.additional_information_title%></h3>
        <form action="#" class="form-horizontal">
          <div class="input2_wrapper">
            <label class="col-md-12" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.field_comments%></label>
            <div class="col-md-12" style="padding-right:0;padding-left:0;">
              <textarea name="comments" id="comments"
                        class="form-control" rows="10" style="height: auto"></textarea>
            </div>
          </div>
        </form>

      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4 booking-row">

        <h3 id="extras_title" class="line"><%=t.front_end_reservation.extras_title%></h3>
        <div id="extras_listing">
        </div>

        <div id="reservation_detail">
        </div>

        <div id="payment_detail">
        </div>

        <div class="margin-top" style="margin-top:40px;"></div>
        <div class="border-3px"></div>
        <div class="clearfix"></div>

        <div class="margin-top"></div>
        <!--h3>ACCEPT AND CONFIRM</h3-->
        <input type="checkbox" id="accept"> <b style="color:#464646;padding-left:10px;"><%=t.front_end_reservation.conditions_read(format_url_with_language("/renting_conditions"))%></b>

        <div class="margin-top"></div>
        <div class="clearfix"></div>

        <a id="btn_reservation" href="#" class="btn btn-default btn-cf-submit3"><%=t.front_end_reservation.request_reservation%></a>

      </div>
    </div>
  </div>
</div>


<script type="text/tpml" id="script_product_detail">

      <div class="blog_content">
          <div class="post post-full">
              <h3 class="text-center hch2"><%%=product.name%></h3>
              <div class="clearfix"></div>
              <div class="post-header">
                  <img class="img-responsive" src="<%%=product.full_photo%>" alt="" style="margin: 0 auto; display: block"/>
                  <div class="price text-right">
                     <%% if (product.base_price != product.price) { %>
                       <span style="text-decoration:line-through; text-color: black"><%%=new Number(product.base_price).toFixed(2)%>€</span>
                     <%% } %>
                       <strong><%%=new Number(shopping_cart.item_cost).toFixed(2)%></strong>€
                  </div>
              </div>
          </div>
      </div>

</script>

<script type="text/tpml" id="script_products_detail">

  <%% for (var idx=0; idx<shopping_cart.items.length; idx++) { %>

      <div class="blog_content">
          <div class="post post-full">
              <h3 class="text-center hch2"><%%=shopping_cart.items[idx].quantity%> x <%%=products[shopping_cart.items[idx].item_id].name%></h3>
              <div class="clearfix"></div>
              <div class="post-header">
                  <img class="img-responsive" src="<%%=products[shopping_cart.items[idx].item_id].full_photo%>" alt="" style="margin: 0 auto; display: block"/>
                  <div class="price text-right">
                      <%% if (shopping_cart.items[idx].item_unit_cost_base != shopping_cart.items[idx].item_unit_cost) { %>
                        <span style="text-decoration:line-through; text-color: black"><%%=new Number(shopping_cart.items[idx].item_unit_cost_base*shopping_cart.items[idx].quantity).toFixed(2)%>€</span>
                      <%% } %>
                        <strong><%%=new Number(shopping_cart.items[idx].item_cost).toFixed(2)%></strong>€
                  </div>
              </div>
          </div>
      </div>

   <%% } %>

</script>

<!-- Script used to render an extra -->

<script type="text/template" id="script_detailed_extra">

  <%% if (extra.max_quantity > 1) { %>
  <div class="select">
    <label for="select<%%=extra.code%>"><%%=extra.name%>&nbsp;<span class="fa-info-extra" rel="<%%=extra.code%>"><i class="fa fa-info-circle"></i></span></label>
    <select name="select<%%=extra.code%>" id="select<%%=extra.code%>"
          class="select input extra-select pull-right"  data-value="<%%=extra.code%>" data-container="body" style="display:block; width: 100%">
      <%% for (var idx=0;idx<=extra.max_quantity;idx++) { %>
      <option value="<%%=idx%>"
        <%% if (extrasInShoppingCart[extra.code] && extrasInShoppingCart[extra.code] == idx) { %>
          selected="selected"
         <%%}%> >
            <%%=idx%> un. <%%if (idx>0){%>(<%%=new Number(extra.unit_price*idx).toFixed(2)%>€)<%%}%>
      </option>
      <%% } %>
    </select>
    <br>
    <br>
  </div>
  <%% } else if (extra.max_quantity == 1) { %>
  <div style="margin-top: 1em">
    <label for="checkboxl<%%=extra.code%>" style="display: block">
      <input id="checkboxl<%%=extra.code%>" type="checkbox" class="extra-checkbox" data-value="<%%=extra.code%>" <%% if (extrasInShoppingCart[extra.code] &&  extrasInShoppingCart[extra.code] > 0) { %> checked="checked" <%% } %>/>
      <%%=extra.name%> <span class="pull-right"> <%%=new Number(extra.unit_price).toFixed(2)%> € </span>
    </label>

  </div>
  <%% } %>

</script>

<!-- Script used to render the reservation summary -->

<script type="text/tmpl" id="script_reservation_summary">

        <h3 class="line"><%=t.front_end_reservation.reservation_summary_title%></h3>

        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%= BookingDataSystem.r18n.t.booking_business_literals.starting_date[booking_item_family.starting_date.to_s]['date_from'] %></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%%=shopping_cart.date_from_full_format%><% if booking_item_family and booking_item_family.time_to_from %> <%%=shopping_cart.time_from%><%end%></span>
          </div>
        </div>
        <div class="clearfix"></div>

        <% if booking_item_family and booking_item_family.pickup_return_place %>
        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.pickup_place%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%%=shopping_cart.pickup_place_customer_translation%></span>
          </div>
        </div>
        <div class="clearfix"></div>
        <% end %>

        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%= BookingDataSystem.r18n.t.booking_business_literals.starting_date[booking_item_family.starting_date.to_s]['date_to'] %></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%%=shopping_cart.date_to_full_format%><% if booking_item_family and booking_item_family.time_to_from %> <%%=shopping_cart.time_to%><%end%></span>
          </div>
        </div>
        <div class="clearfix"></div>

        <% if booking_item_family and booking_item_family.pickup_return_place %>
        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.return_place%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%%=shopping_cart.return_place_customer_translation%></span>
          </div>
        </div>
        <div class="clearfix"></div>
        <% end %>

        <div class="margin-top"></div>
        <h3 class="line"><%=t.front_end_reservation.reservation_summary_price%></h3>

        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_total_product%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%%=new Number(shopping_cart.item_cost).toFixed(2)%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>

        <%% if (shopping_cart.extras_cost > 0) { %>
        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_total_extras%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%%=new Number(shopping_cart.extras_cost).toFixed(2)%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <%% } %>

        <%% if (shopping_cart.time_from_cost > 0) { %>
        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_pickup_time_supplement%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%%=new Number(shopping_cart.time_from_cost).toFixed(2)%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <%% } %>

        <%% if (shopping_cart.pickup_place_cost > 0) { %>
        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_pickup_place_supplement%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%%=new Number(shopping_cart.pickup_place_cost).toFixed(2)%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <%% } %>

        <%% if (shopping_cart.time_to_cost > 0) { %>
        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_return_time_supplement%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%%=new Number(shopping_cart.time_to_cost).toFixed(2)%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <%% } %>

        <%% if (shopping_cart.return_place_cost > 0) { %>
        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_return_place_supplement%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%%=new Number(shopping_cart.return_place_cost).toFixed(2)%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <%% } %>

        <% if total_cost_includes_deposit %>
        <%% if (shopping_cart.total_deposit > 0) { %>
        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_deposit%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%%=new Number(shopping_cart.total_deposit).toFixed(2)%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>
        <%% } %>
        <% end %>

        <div class="input2_wrapper">
          <label class="col-md-6" style="padding-left:0;padding-top:12px; text-transform: uppercase;"><%=t.front_end_reservation.reservation_summary_total%></label>
          <div class="col-md-6" style="padding-right:0;padding-left:0;">
            <span class="blue"><%%=new Number(shopping_cart.total_cost).toFixed(2)%>€</span>
          </div>
        </div>
        <div class="clearfix"></div>


        <% if !total_cost_includes_deposit %>
          <%% if (shopping_cart.total_deposit > 0) { %>
          <div class="input2_wrapper">
            <label class="col-md-6" style="padding-left:0;padding-top:12px;"><%=t.front_end_reservation.reservation_summary_deposit%></label>
            <div class="col-md-6" style="padding-right:0;padding-left:0;">
              <span class="blue"><%%=new Number(shopping_cart.total_deposit).toFixed(2)%>€</span>
            </div>
          </div>
          <div class="clearfix"></div>
          <%% } %>
        <% end %>


        <%% if (shopping_cart.total_deposit > 0) { %>
        <div class="input2_wrapper">
          <label class="col-md-12" style="padding-left:0;padding-top:12px;"><small>* <%=t.front_end_reservation.reservation_summary_deposit_detail%></small></label>
        </div>
        <div class="clearfix"></div>
        <%% } %>

  </div>
</script>

<!-- Script payment -->
<script type="text/tmpl" id="script_payment_detail">
  <h3 class="line"><i class="fa"></i><%=t.front_end_reservation.payment_title%></h3>
  <%% if (sales_process.can_pay) { %>
  <br>
  <div class="alert alert-success">
    <p><%=t.front_end_reservation.payment_to_confirm_reservation(@deposit)%></p>
  </div>
  <%% } %>
  <div class="panel-group payments-options" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a data-payment-method="none" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseTwo">
            <span class="dot"></span><%=t.front_end_reservation.request_reservation%>
          </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2"></div>
    </div>
    <%% if (sales_process.can_pay) { %>
    <% if @payment_methods.tpv_virtual %>
    <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                  <a class="collapsed" data-payment-method="<%=@payment_methods.tpv_virtual.id%>" data-toggle="collapse"
                     data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseThree">
                      <span class="dot"></span> <%=t.front_end_reservation.credit_card_payment%>
                  </a>
          <span class="overflowed pull-right">
              <img src="/rentit/img/preview/payments/mastercard-2.jpg" alt=""/>
              <img src="/rentit/img/preview/payments/visa-2.jpg" alt=""/>
          </span>
              </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3"></div>
    </div>
    <% end %>
    <% if @payment_methods.paypal %>
    <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading4">
              <h4 class="panel-title">
                  <a class="collapsed"
                     data-payment-method="paypal_standard" data-toggle="collapse" data-parent="#accordion"
                     href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                      <span class="dot"></span> <%=t.front_end_reservation.paypal_payment%>
                  </a>
                  <span class="overflowed pull-right">
                     <!--img src="assets/img/preview/payments/paypal-2.jpg" alt=""/-->
                  </span>
              </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4"></div>
    </div>
    <% end %>
    <%% } %>
  </div>
</script> 


